<ion-header [translucent]="true">
  
  <ion-toolbar color="primary" >
    <ion-buttons slot="start" style="color:
    #faf8f8">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left;font-family:'Times New Roman', Times, serif;color:
    #faf8f8">Publisher's Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
  
  <ion-card style="margin-top:25%;font-family:'Times New Roman', Times, serif;color:
#faf8f8">
    <ion-card-header>
      <ion-card-title style="text-align: center;font-size: x-large;font-family:'Times New Roman', Times, serif">Contact Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      
        <ion-item style="font-family:'Times New Roman', Times, serif;color:#303090">
          <ion-label>Publisher</ion-label>
          <a href="https://firmsapconsulting.com/" target="_blank" style="text-decoration: none;">FIRMSAP Ventures Pvt. Ltd.</a>
        </ion-item>
        <ion-item style="font-family:'Times New Roman', Times, serif;color:#303090">
        <ion-label>Phone Number</ion-label>
        <a href="tel:+917414002424" target="_blank" style="text-decoration: none;">+91 7414002424</a>
      </ion-item>
      <ion-item style="font-family:'Times New Roman', Times, serif;color:#303090">
        <ion-label>Email</ion-label>
        <a href="mailto:automationfirmsap@gmail.com" target="_blank" style="text-decoration: none;">automationfirmsap@gmail.com</a>
      </ion-item>
      <ion-item style="font-family:'Times New Roman', Times, serif;color:#303090">
        <ion-label>Developer</ion-label>
        <a href="https://github.com/bhavesh2799/My-Projects" target="_blank" style="text-decoration: none;">Bhavesh Kotwani</a>
      </ion-item>
      
     
    </ion-card-content>
  </ion-card>

</ion-content>
