#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  ion-content.wrapper{
    --background: #719fb0;
    --background: #303090;
  }
  .custom-shape-divider-top-1618552419 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .custom-shape-divider-top-1618552419 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .custom-shape-divider-top-1618552419 .shape-fill {
    fill: #00587a;
  }
  .button-custom{
    text-transform: capitalize;
    --color:#00587a !important;
    --background: #e7e7de !important;
    font-size: medium;
  }
  .font-custom{
    font-family:'Segoe UI';
   
  
  }
  ion-slides {
    height: auto;
  }
  .custom-toolbar{
    --background: linear-gradient(90deg, #e7e7de 0%,#00587a 25%,#00587a 75%, #e7e7de 100%);
  }
  .icontwo{
    color: #00587a;
  }