<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="routerHome()"><ion-icon name="arrow-back-outline" style="color:
        #faf8f8"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="text-align:center; font-size: larger;font-family:'Times New Roman', Times, serif;color:
    #faf8f8;">LegalAstro News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
  
        <ion-card style="margin-left:2%;margin-top:8%;margin-right:2%;">
    
          <img  [src]="article.ImageUrl" style="width:100%">
      
          <ion-card-header>
            <ion-card-title class="font-custom" style="text-align:center; font-size: larger;font-family:'Times New Roman', Times, serif" >{{(article.Heading)}}</ion-card-title>
            <ion-card-subtitle class="font-custom"  style="text-align: center;text-transform: capitalize;padding-top:1%;font-family:'Times New Roman', Times, serif"> {{article.Source}} dated {{article.Dated}}</ion-card-subtitle>
      
          </ion-card-header>
          <ion-card-content>
           
           
            
            
            <!-- <p class="font-custom" style="text-align:center;padding-top:1%">{{styleHeads(article.interests)}}</p> -->
      
            <p class="font-custom" style="text-align: left;padding-top:1%;margin-bottom:2%;font-family:'Times New Roman', Times, serif">{{article.Body}}</p>
            <ion-chip *ngFor="let i of article.types" color="secondary">
              <ion-label  color="dark" style="font-family:'Times New Roman', Times, serif">{{replacer(i)}}</ion-label>
            </ion-chip>
            <!-- <p class="font-custom" style="text-align:center;"> </p> -->
            <ion-chip *ngFor="let i of article.interests" color="secondary">
              <ion-label  color="dark" style="font-family:'Times New Roman', Times, serif">{{replacer(i)}}</ion-label>
            </ion-chip>
           
           
            <ion-button *ngIf="article.fullArticle && article.fullArticle!=''"  color="success" expand="block" (click)="openWeb(article.fullArticle)" style="text-transform:capitalize;margin-top:2%;font-family:'Times New Roman', Times, serif">Read Full Article</ion-button>
      
            <ion-button color="tertiary"  expand="block" (click)="openWeb(article.Link)" style="text-transform:capitalize;margin-top:2%;font-family:'Times New Roman', Times, serif"><p style="color:black">Source Link</p></ion-button>
          
           <ion-button class="button-custom"  *ngIf="article.PdfUrl0!=''" expand="block" (click)="dynamicActionSheet(article,article.numPdf)" style="text-transform:capitalize;margin-top:2%;font-family:'Times New Roman', Times, serif">Download PDF</ion-button>
           <!-- <a class="button-custom"   expand="block" routerLink="/contact" style="text-transform:capitalize;margin-top:1%;text-align:center;text-decoration:none;font-family:'Times New Roman', Times, serif">Publisher's Contact</a> -->
      
          </ion-card-content>
        </ion-card>
      
     
  
</ion-content>
