<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title style="text-align: center;">
      LegalAstro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='wrapper'>
  
 
        <ion-card style="text-align: center;margin-top:20%;font-family:'Times New Roman', Times, serif">
          <ion-card-header>
            <ion-card-title>Forgot Password</ion-card-title>
            <ion-card-subtitle>Please enter your email address</ion-card-subtitle>
      
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Email Address</ion-label>
                <ion-input type='text' [(ngModel)]="email" ></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
      
        </ion-card>
        <ion-button expand='block' shape='round' style="text-transform: capitalize;" (click)='resetPassword()'>Reset Password</ion-button>
      
        <div style=" text-align: center;">
          
          <p><a style="color:#f0f0f0;font-family:'Times New Roman', Times, serif" (click)="redirectLogin()">Go to Login</a></p>
        </div>
      
      
     
  </ion-content>
