<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color:
    #faf8f8">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: left;color:
    #faf8f8">Invite Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
  
      <ion-chip class="button6" style="width:60%;size:large; font-size:large; margin-top:28%;text-align:center;">
        <ion-avatar>
          <ion-img src="https://play-lh.googleusercontent.com/ALrW7qUhWQ36nENfVNCf9WAbciFkL_f-VqPXdGHp1ztev7gPGzkqisXWXc5BUwPZEgXC=s180"  ></ion-img>

        </ion-avatar>
        <ion-label style="color:#f0f0f0"><strong>LegalAstro News</strong></ion-label>
      </ion-chip>

  

  
   
          <ion-button expand="block" class="button1" style="text-transform: none;margin-top:5%;margin-left:3%;margin-right:3%;"  (click)="fn1()"><ion-icon name="logo-whatsapp" style="padding-right:3%;"></ion-icon> Invite via WhatsApp</ion-button>
          <ion-button expand="block" class="button2"  style="text-transform: none ;margin-top:5%;margin-left:3%;margin-right:3%;"  (click)="fn3()"><ion-icon name="logo-facebook" style="padding-right:3%;"></ion-icon> Invite via Facebook</ion-button>
          <ion-button expand="block" class="button3"  style="text-transform: none;margin-top:5%;margin-left:3%;margin-right:3%;"   (click)="fn2()"><ion-icon name="logo-instagram" style="padding-right:3%;"></ion-icon> Invite via Instagram</ion-button>
          <ion-button expand="block" class="button5"  style="text-transform: none;margin-top:5%;margin-left:3%;margin-right:3%;" (click)="fn4()"><ion-icon name="logo-twitter" style="padding-right:3%;"></ion-icon> Invite via Twitter</ion-button>
          <ion-button expand="block"  style="text-transform: none;margin-top:5%;margin-left:3%;margin-right:3%;" (click)="fn0()"><ion-icon name="copy-outline" style="padding-right:3%;"></ion-icon> Copy Link to Clipboard</ion-button>
      
          <ion-button expand="block" class="button4"  style="text-transform: none;margin-top:5%;margin-left:3%;margin-right:3%;"   (click)="fn5()"><ion-icon style="color:gray;padding-right:3%;" name="mail"></ion-icon><p style="color:gray"> Invite via Mail</p></ion-button>
      
           
       
   
   
</ion-content>
